@import '../../variables.scss';

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -2rem;

  .list-item {
    flex-basis: 100%;
    margin-bottom: 2rem;

    @media screen and (min-width: $md) {
      flex-basis: calc(50% - 0.5rem);
    }

    @media screen and (min-width: $lg) {
      flex-basis: calc(33.33% - 0.667rem);
    }

    @media screen and (min-width: $xl) {
      flex-basis: calc(25% - 0.75rem);
    }

    .list-item-title {
      margin-top: 0;
      font-size: 1.3rem;
      line-height: 100%;
    }

    .list-item-ul {
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: -1em;

      li {
        margin-bottom: 1em;
      }
    }
  }
}
