@import "../../variables.scss";

.hero {
  .hero-title,
  .hero-subtitle {
    text-transform: uppercase;
  }

  .hero-subtitle {
    margin: 0;
    font-size: 1.2rem;
  }

  .hero-title {
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    margin: {
      top: 0;
      bottom: 3rem;
    }
  }

  &.hero-light {
    background-color: $accent-100;
    color: $accent-800;

    .theme-subtitle {
      color: $accent-600;
    }

    .theme-helper {
      color: $accent-400;
      border-color: $accent-400;
    }

    .theme-title {
      color: $accent-900;
    }
  }

  &.hero-accent {
    background-color: $accent-300;
    color: $accent-700;

    .theme-subtitle {
      color: $accent-800;
    }

    .theme-helper {
      color: $accent-500;
      border-color: $accent-500;
    }

    .theme-title {
      color: $accent-900;
    }
  }
}
