@import "../../variables.scss";

.hero {
  .hero-title,
  .hero-subtitle {
    text-transform: uppercase;
  }

  .hero-subtitle {
    margin: 0;
    font-size: 1rem;
  }

  .hero-title {
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    margin: {
      top: 0;
      bottom: 3rem;
    }
  }

  &.hero-light {
    background-color: $gray-100;
    color: $gray-700;

    .theme-subtitle {
      color: $gray-600;
    }

    .theme-helper {
      color: $gray-500;
      border-color: $gray-300;
    }

    .theme-title {
      color: $accent-600;
    }
  }

  &.hero-accent {
    background-color: $gray-900;
    color: $gray-300;

    .theme-subtitle {
      color: $gray-400;
    }

    .theme-helper {
      color: $gray-600;
      border-color: $gray-700;
    }

    .theme-title {
      color: $accent-400;
    }
  }
}
