@import "../../variables.scss";

.hero {
  .title,
  .subtitle {
    text-transform: uppercase;
  }

  .subtitle {
    margin: 0;
  }

  .title {
    font-weight: 900;
    font-style: italic;
    font-size: 2rem;
    margin: {
      top: 0;
      bottom: 3rem;
    }
  }

  &.hero-light {
    background-color: $purple-100;
    color: $purple-800;

    .subtitle {
      color: $purple-600;
    }

    .title {
      color: $purple-900;
    }
  }

  &.hero-accent {
    background-color: $purple-400;
    color: $purple-600;

    .subtitle {
      color: $purple-700;
    }

    .title {
      color: $purple-100;
    }
  }

  &.hero-dark {
    background-color: $purple-900;
    color: $purple-300;

    .subtitle {
      color: $purple-500;
    }

    .title {
      color: $purple-100;
    }
  }
}
