@import "./variables.scss";

#header {
  box-shadow: 0 1rem 5rem -0.5rem rgba($color: $gray-900, $alpha: 0.75);
  position: absolute;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
