@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  @apply bg-gray-900;
  @apply text-gray-300;
}

.header {
  @apply large-shadow;
  @apply border-gray-700;
  @apply border-b-2;
  @apply absolute;
  @apply w-full;
  @apply bg-gray-900;

  .title {
    @apply text-base;

    @screen md {
      @apply text-xl;
    }

    @screen lg {
      @apply text-2xl;
    }
  }
}

.large-shadow {
  box-shadow: 0 1rem 5rem -0.5rem rgba($color: theme('colors.gray.900'), $alpha: 0.75);
}

.text-super-xl {
  font-size: 8rem;
}

.textured {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.05' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.landing {
  @apply mx-auto;
  @apply h-screen;
  @apply flex;
  @apply items-center;
  @apply textured;

  min-height: 40rem;

  .scroll-hint {
    @apply w-8 h-12 text-center absolute mx-auto;
    @apply border-gray-500 border-2 rounded-full;

    bottom: 5vh;
    left: 0;
    right: 0;

    @keyframes scroll-hint {
      0% {
        transform: translateY(0);
        opacity: 0;
      }

      3% {
        transform: translateY(0);
        opacity: 1;
      }

      10% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(120%);
        opacity: 1;
      }

      70% {
        opacity: 0;
      }

      100% {
        transform: translateY(120%);
        opacity: 0;
      }
    }

    &::after {
      @apply h-3 inline-block;
      @apply bg-gray-500 rounded;

      content: '';
      width: 2px;
      animation: scroll-hint 3000ms ease infinite normal;
    }
  }
}
