@import "./variables.scss";

.body {
  background: $gray-900;
  color: $gray-100;
}

.section {
  height: 100vh;
  min-height: 40rem;
}

.container {
  overflow-x: hidden;
  width: 100%;
  padding: 1rem;
  margin: {
    left: auto;
    right: auto;
  }

  @media screen and (min-width: $md) {
    max-width: $md;
  }

  @media screen and (min-width: $lg) {
    max-width: $lg;
  }

  @media screen and (min-width: $xl) {
    max-width: $xl;
  }
}

@import "./header.scss";
@import "./landing.scss";
@import "./timeline.scss";
