@import '../../variables.scss';

.marquee {
  height: 1em;
  line-height: 1em;

  @keyframes blink {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  p {
    position: relative;
    display: inline-block;
    margin: 0;
    line-height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      height: 1em;
      width: 2px;
      right: -0.25em;
      background-color: $accent-500;
      display: block;
      animation: blink 1.5s steps(1, start) normal infinite;
    }
  }
}
