@import '../../variables.scss';

header {
  color: $gray-600;
  border-bottom: $gray-200 solid 2px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 600ms $ease-out-expo;
  background-color: $gray-100;
  z-index: 1023;

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
