$accent: hsl(26, 97%, 56%)
$subtitle: rgb(249, 162, 96)
$text: hsl(0, 0%, 80%)
$dark: hsl(189, 77%, 21%)
$background: hsl(206, 51%, 10%)
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1)

*::selection
  background: $accent
  color: $background

*::-moz-selection
  background: $accent
  color: $background

body, html
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 'Source Han Sans SC', 'Source Han Sans CN', 'Source Han Sans', 'Noto Sans CJK SC', 'Noto Sans CJK CN', 'Noto Sans CJK', 'Microsoft Yahei UI', Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
  background-color: $background
  color: $text
  line-height: 150%
  font-size: 16px

body
  @media screen and (min-width: 480px)
    border: $accent 3px solid
  @media screen and (min-width: 768px)
    border: $accent 5px solid
  @media screen and (min-width: 1024px)
    border: $accent 10px solid

a, a:visited
  color: $accent

a:hover, a:active
  color: $subtitle

p, li
  margin:
    top: 0
    bottom: .25rem

ul
  margin: 0

.container
  width: calc(100% - 3.2rem)
  max-width: 980px
  margin: 0 auto
  padding: 8rem 0

h2
  color: $accent
  margin:
    top: 4.8rem
    bottom: 1.8rem
  padding-left: .75rem
  position: relative
  z-index: 1
  font-weight: normal

  &::after
    content: ''
    display: block
    position: absolute
    left: 0
    top: 0
    width: 5px
    height: 100%
    background: $dark
    z-index: -1

h3
  margin-top: 2.4rem
  margin-bottom: .8rem
  color: $subtitle
  font-size: 1rem

.heading
  ul
    list-style: none
    padding: 0
    margin: 0

.date
  font-size: .8rem

hr
  border: $accent 1px dashed
  margin: 3.6rem 0

footer
  font-size: .8rem
  color: $dark

  p
    margin: 0 0 .4em
    line-height: 100%

  a
    color: inherit
    text-decoration: none

.animated
  transform: translateY(10rem)
  opacity: 0
  transition: opacity .8s $easeOutCirc, transform .8s $easeOutCirc

.activated
  transform: translateY(0)
  opacity: 1
